.Header {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    font-size:xx-large;
    color: #075599;
  
}

.table-color {

    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 400;
    background-color: #3386cf;
}

.create-btn {

    margin: 10px 10px;
}

.spinnercls {
    align-items: center;
}